<!DOCTYPE html>
<html>
  <head> 
    <!-- <title> Simple CMS Admin </title> -->
    <title> Simple CMS | <%= @page_title || "Admin" %> </title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>

  <body>

    <div id="header">
      <h1> Simple CMS Admin </h1>
    </div>

    <div id="main">
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <p id="copyright"> &copy; lynda.com / Kevin Skoglund </p>
    </div>


  </body>
</html>



