<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS</title>
    <%= javascript_include_tag('public') %>  <!-- Now JS will be available to any template that uses this laout. -->
  </head>
  
  <body>
  <!-- Before Yield -->
  <%= yield %>
  <!-- After Yield -->

  </body>
</html>
